---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Services from "../components/Services.astro";
import Showroom from "../components/Showroom.astro";
import Brands from "../components/Brands.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
import Categories from "@/components/Categories.astro";
import Partners from "../components/Partners.astro";
---

<Layout>
	<Header />
	<main>
		<Hero />
		<Services />
		<About />
		<Categories />
		<Showroom />
		<Partners />
		<Brands />
		<Contact />
	</main>
	<Footer />
</Layout>
